{% extends 'index.html' %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    <title>图片</title>
    {% load static %}
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/globalCss.css" rel="stylesheet">
    <script src="/static/js/jquery-3.5.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
</head>
<body>
{% block mainbody %}
    <div class="row">
        <div class="jumbotron">
          <h1>待开发页面哦~</h1>
          <p>...</p>
          <p><a class="btn btn-primary btn-lg" href="./index.html" role="button">首页</a></p>
        </div>
    </div>
{% endblock %}
</body>
</html>



